@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
	background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 1.5;
}

p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    
}

button {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    border-radius: 50px;
    margin-top: 20px;
    font-size: 20px;
    box-shadow: 1px 3px 15px 3px rgba(0,0,0,0.36)
}

.container {
    width: 1270px;
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.mockup {
    margin-top: 90px;
}

.right {
    margin-left: 50px;
}


.social-links {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    bottom: 40px;
	list-style-type: none;
}

.social-links a {
	border-radius: 50%;
	border: 2px solid #fff;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	height: 50px;
	width: 50px;
	text-decoration: none;
}
@media screen and (max-width: 768px) {

    h1 {
        font-size: 25px;
        text-align: center;
    }
    p {
        font-size: 16px;
        text-align: center;
        
    }
    button {
        max-width: 250px;
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 120px;
        margin-left: auto;
        display: block;
    }

    .container{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        
    }

    .left img {
        max-width: 180px;
        margin-top: 40px;
    }
    .left .mockup {
        max-width: 300px;
        display: block;
        margin: 40px auto;
    }

    .right {
        margin: 0 auto;
    }

    .social-links {
        position: absolute;
        right: 130px;
        bottom: 30px;

    }
    .social-links a  {
        border: 1px solid #fff;
        margin-left: 10px;
        width: 30px;
        height: 30px;
    }

}

